{{#each errorMessages}}
<div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">×</button>
    {{this}}
</div>
{{/each}}

<div class="page-header">
    <h1>Leírás</h1>
</div>
<div>
     <p>Lorem ipsum dolor sit amet, est eu omnis everti impetus. Et pri omnium disputationi, pri cu habemus intellegam quaerendum. Nullam neglegentur id eum. Dicat utroque qui ne. Nam primis aperiam ei, verterem voluptatum honestatis nam an.

Ad quo scaevola voluptatibus, ius latine persius inciderint te. Zril rationibus mei ne, elit salutatus vim ad. Ex vis graece aliquam lobortis. Quo ea invidunt postulant. Autem laoreet convenire an cum, at liber doming timeam duo, pri eros propriae ea. Id agam putent pri.

Vix ad munere euismod tacimates, reque movet et has. Ne pro possit adipisci atomorum, pri ex quodsi nonumes. Cu dolores salutatus prodesset his, labores ceteros explicari ne has. Vis ex clita debitis referrentur, ut recteque persequeris pro.

Ne solum corrumpit delicatissimi nam. Nobis nullam sed id, errem ubique albucius no nam. Nam argumentum reprimique in, has ea putant option nostrud. Eros saperet sit ea, veri conceptam et mea. Meis sensibus dissentias an vim, duo te elit iisque inciderint, cu zril noluisse vel. Nobis volumus alienum eos et, vis ne unum dolore reprimique.

Vel ut utroque sadipscing, et viris vivendum salutatus nam. Ne nec gubergren efficiantur, dicant inimicus quo in. Mei atqui mucius diceret ut. Ne duo nibh putent dicunt, agam accusamus cum ut. Omnes laudem no quo. Qualisque repudiare ad sed. Vim impedit inermis te, no qui mundi albucius dissentiet, mei no mucius maiorum evertitur. Ez a Kádár család tennivaló
     kezelő oldala. Ha a családunkhoz tartozol, kérlek regisztrálj, ha közülünk valónak érzed magad, hogy közösen osztozhassunk a háztartásbeli munkákon.
     </p>               
</div>

